version: '3'

services:
  icecast-ripper:
    image: ghcr.io/kemko/icecast-ripper:master
    ports:
      - "8080:8080"
    environment:
      - STREAM_URL=http://example.com/stream
      - CHECK_INTERVAL=1m
      - RECORDINGS_PATH=/records
      - TEMP_PATH=/app/temp
      - BIND_ADDRESS=:8080
      - PUBLIC_URL=http://localhost:8080
      - LOG_LEVEL=info
      - RETENTION_DAYS=90
    volumes:
      - ./records:/records
      - ./temp:/app/temp
      - ./data:/app/data
